/* .movie__slider {
    width: 100%;
    height: 90vh;
    position: relative;
}

.movie__slider .slider__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner {
        margin-top: 120px;
        flex-direction: column;
    }
}

.movie__slider .slider__inner .img {
    width: 20vw;
    min-width: 275px;
}

.movie__slider .slider__inner .img img {
    width: 100%;
    vertical-align: top;
}

.movie__slider .slider__inner .text {
    margin-left: 2vw;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .text {
        margin-left: 0;
        width: 90%;
    }
}

.movie__slider .slider__inner .text .title {
    font-size: 3rem;
    font-weight: 700;
}

.movie__slider .slider__inner .text .info {
    display: flex;
    font-size: 0.8rem;
}

.movie__slider .slider__inner .text .info .date {
    padding-right: 1rem;
    border-right: 1px solid var(--white);
}

.movie__slider .slider__inner .text .info .average {
    padding-left: 1rem;
}

.movie__slider .slider__inner .text .desc {
    margin-top: 1rem;
    width: 40vw;
    white-space: pre-line;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .text .desc {
        width: 100%;
    }
}

.movie__slider .slider__inner .credit {
    display: flex;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .credit {
        width: 100%;
        justify-content: space-between;
    }
}

.movie__slider .slider__inner .credit img {
    margin-top: 1rem;
    margin-right: 1vw;
    width: 5vw;
    vertical-align: top;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .credit img {
        width: 19%;
    }
}

.movie__slider .slider__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
}

.movie__slider .slider__bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.movie__inner {
    padding: 1rem;
    background-color: #0F1014;
}

.movie__search {
    position: relative;
    margin-bottom: 1rem;
}

.movie__search input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: var(--white);
}

.movie__search input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.movie__search button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.movie__search button svg {
    fill: rgba(255, 255, 255, 0.3);
    width: 24px;
    height: 24px;
}

.movie__tag {
    margin-bottom: 1rem;
}

.movie__tag ul {
    display: flex;
}

.movie__tag ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.movie__tag ul li:last-child {
    border: none;
}

.movie__tag ul li a {
    color: var(--white);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.movie__tag ul li a:hover {
    color: #F80147;
}

.movie__cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie__cont .movie {
    width: 24%;
    margin-bottom: 2vh;
}

@media (max-width: 600px) {
    .movie__inner .movie__cont .movie {
        width: 49%;
    }
}

@media (max-width: 400px) {
    .movie__inner .movie__cont .movie {
        width: 100%;
    }
} */



.mcontainer {
    width: 100%;
    /* max-height: 1400px; */
    margin: 0 auto;
}



/* .container1280 {
    width: 1280px;
    margin: 0 auto;

} */

@media(max-width: 1280px) {
    /* width: 100%; */
}


.movie__slider {
    width: 100%;
    height: 90vh;
    position: relative;
}

.movie__slider .slider__inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner {
        margin-top: 120px;
        flex-direction: column;
    }
}

.movie__slider .slider__inner .img {
    width: 20vw;
    min-width: 275px;
}

.movie__slider .slider__inner .img img {
    width: 100%;
    vertical-align: top;
}

.movie__slider .slider__inner .text {
    margin-left: 2vw;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .text {
        margin-left: 0;
        width: 90%;
    }
}

.movie__slider .slider__inner .text .title {
    font-size: 3rem;
    font-weight: 700;
}

.movie__slider .slider__inner .text .info {
    display: flex;
    font-size: 0.8rem;
}

.movie__slider .slider__inner .text .info .date {
    padding-right: 1rem;
    border-right: 1px solid var(--white);
}

.movie__slider .slider__inner .text .info .average {
    padding-left: 1rem;
}

.movie__slider .slider__inner .text .desc {
    margin-top: 1rem;
    width: 40vw;
    white-space: pre-line;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .text .desc {
        width: 100%;
    }
}

.movie__slider .slider__inner .credit {
    display: flex;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .credit {
        width: 100%;
        justify-content: space-between;
    }
}

.movie__slider .slider__inner .credit img {
    margin-top: 1rem;
    margin-right: 1vw;
    width: 5vw;
    vertical-align: top;
}

@media (max-width: 600px) {
    .movie__slider .slider__inner .credit img {
        width: 19%;
    }
}

.movie__slider .slider__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
}

.movie__slider .slider__bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.movie__inner {
    padding: 1rem;
    /* background-color: #0F1014; */
}

.movie__inner .movie__search {
    position: relative;
    margin-bottom: 1rem;
}

.movie__inner .movie__search input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: var(--white);
}

.movie__inner .movie__search input:focus {
    outline: 1px solid rgba(255, 255, 255, 0.3);
}

.movie__inner .movie__search button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.movie__inner .movie__search button svg {
    fill: rgba(255, 255, 255, 0.3);
    width: 24px;
    height: 24px;
}

.movie__inner .movie__tag {
    margin-bottom: 1rem;
}

.movie__inner .movie__tag ul {
    display: flex;
}

.movie__inner .movie__tag ul li {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.movie__inner .movie__tag ul li:last-child {
    border: none;
}

.movie__inner .movie__tag ul li a {
    color: var(--white);
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.movie__inner .movie__tag ul li a:hover {
    color: #F80147;
}

.movie__inner .movie__cont {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */

}

.movie__inner .movie__cont .movie {
    /* width: calc(20% - 10px); */
    /* 100%를 5로 나누고, 각 항목 사이의 간격을 고려하여 조정 */

    /* margin-bottom: 2vh; */
    /* display: flex; */
    justify-content: space-between;
    /* 이미지들을 왼쪽 정렬 */
    display: grid;
    grid-template-columns: repeat(5, 250px);
    /* 6개의 열을 만듭니다 */
    /* gap: 10px; */
    /* 이미지 사이의 간격을 설정합니다 */
    margin-bottom: 2vh;

}

.movie__inner .movie__cont .movie img {
    width: 250px;
    padding: 20px;
    height: 100%;


}


@media (max-width: 600px) {
    .movie__inner .movie__cont .movie {
        width: 49%;
    }
}

@media (max-width: 400px) {
    .movie__inner .movie__cont .movie {
        width: 100%;
    }
}

/* .movie play__icon {
    display: flex;
    width: 100%;
    height: 100%;
}


.movie__inner .movie__cont .movie {
    width: calc(20% - 10px);
    
    margin-bottom: 2vh;
    margin-right: 10px;
   
}


.movie__inner .movie__cont .movie:nth-child(5n) {
    margin-right: 0;
}


@media (max-width: 1200px) {
    .movie__inner .movie__cont .movie {
        width: calc(25% - 10px);
        
    }

    .movie__inner .movie__cont .movie:nth-child(4n) {
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    .movie__inner .movie__cont .movie {
        width: calc(50% - 10px);
       
    }

    .movie__inner .movie__cont .movie:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 400px) {
    .movie__inner .movie__cont .movie {
        width: 100%;
       
        margin-right: 0;
        
    }
} */